.page-background {
  background-color: darkslategrey;
}

.body-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  column-gap: 50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.pac-man {
  display: inline-block;
  width: 0;
  height: 0;
  border: 50px solid yellow;
  border-radius: 100%;
  border-right-color: transparent;
  border-top-color: transparent;
  z-index: 99;
  animation: lower_mouth 0.7s ease infinite;
}

.pac-man::before {
  content: '';
  width: 0;
  height: 0;
  border: 50px solid yellow;
  border-radius: 100%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  z-index: 99;
  animation: upper_mouth 0.7s ease infinite;
}

.dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
  animation-name: fly;
  animation-duration: 0.5s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes fly {
  from {
    transform: translateX(0px);
  }

  to {
    transform: translateX(-25%);
  }
}

@keyframes upper_mouth {
  50% {
    transform: rotate(-44deg);
    top: 6%;
  }
}

@keyframes lower_mouth {
  50% {
    transform: rotate(44deg);
    bottom: 6%;
  }
}
